<div>
  <div class="container">
    <div>
      <input [(ngModel)]="newTask"></input>
        <button (click)="(add)">Dodaj</button>
    </div>
  </div>
        <div class="container">
          <div>
            <ng-container *ngIf="taskList.lenght > 0; else noTask">
              <ul>
                <li *ngFor="let task of tasklist">
                  {{ task }}
                  <button (click)="remove(task)">Usuń</button>
                  <button (click)="done(task)">Zrobione</button>
                </li>
              </ul>
            </ng-container>
            <ng-template>
              <p>Brak zadań</p>
            </ng-template>
          </div>
          <div>
            <p>Wykonane zadania: {{ taskDone.length }}</p>
            <ul>
              <li *ngFor="let task of taskDone">
                {{ task }}
              </li>
            </ul>
          </div>
        </div></imput
      >
    </div>
  </div>
</div>
